.app-header {
    /* background-color: purple; */
    background-color: #9122f3;
    /* background-color: hsl(272, 86%, 54%); */
    /* background-color: rgb(145, 34, 243); */

    /* padding-top: 8px;
    padding-right: 12.5%;
    padding-bottom: 8px;
    padding-left: 12.5%; */

    /* padding: 8px 12.5% 8px 12.5%; */

    /* padding: 8px; */
    /* padding-top: 8px;
    padding-bottom: 8px; */
    /* padding: 8px 12.5% 30px; */


    /* margin-top: 8px;
    margin-right: 12.5%;
    margin-bottom: 8px;
    margin-left: 12.5%; */

    /* margin: 8px 12.5% 8px 12.5%; */

    /* margin: 8px; */
    /* margin: 8px 12.5%; */
    /* margin: 8px 12.5% 30px; */

    box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.24);

    display: flex;
    align-items: center;
    justify-content: space-between;    
    color: var(--white);

    grid-column-start: 1;
    grid-column-end: 7;
}

.logo {
    font-size: 24px;
}

.header-following-button {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-weight: bold;
}