.box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

.box-content {
    flex: 1;
    padding: 16px;
}