.card {
    background-color: #fff;
    box-shadow: 0 8px 10px 4px rgba(0, 0, 0, 0.24);
    border-radius: 12px;
    overflow: hidden;
}

.card-content {
    flex: 1;
    padding: 24px;
}

.card-bottom-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    padding: 24px;
    border: 0;
    border-top: 1px solid var(--gray-light);
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.card-bottom-btn:hover {
    background-color: var(--gray-light);
}