.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9122f3;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.24);
}

header span {
    display: inline-block;
    color: #fff;
}

.logo {
    font-size: 24px;
    color: #fff;
}
