h1 {
    /* color: brown; */
    /* color: #A52A2A; */
    /* color: rgb(165, 42, 42); */
    /* color: hsl(0, 75%, 41%); */
    /* border: 1px solid black; */
    /* background-color: yellow; */
    color: #ffffff;
}

/* img,
img#imagem-do-meu-ninja,
.secao-com-fundo-amarelo {
    border-radius: 20px;
} */

/* img#imagem-do-meu-ninja {
    border-radius: 20px;
}

#imagem-do-meu-ninja {
    border-radius: 50%;
} */

/* .secao-com-fundo-amarelo {
    background-color: yellow;
} */

/* main > img {
    width: 100px;
}

body main ul li ul li {
    background-color: red;
} */
