.thumb {
    object-fit: cover;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.thumb--small {
    width: 48px;
    height: 48px;
}

.thumb--large {
    width: 200px;
    height: 200px;
}
