.thumb {
    object-fit: cover;
    border-radius: var(--radius-circle);
    width: 4rem;
    height: 4rem;
}

.thumb--small {
    width: 3rem;
    height: 3rem;
}

.thumb--large {
    width: 12.5rem;
    height: 12.5rem;
}
