.thumb {
    position: relative;
    display: block;
    margin: 0;
    object-fit: cover;
    width: 64px;
    height: 64px;
    border-radius: var(--radius-circle);
    z-index: 1;
}

.thumb-small {
    width: 48px;
    height: 48px;
}

.thumb-large {
    width: 200px;
    height: 200px;
}
