.content-principal {
    grid-column-start: 1;
    grid-column-end: 3;

    /* grid-row-start: 3;
    grid-row-end: 4; */

    display: flex;
    /* flex-direction: row-reverse; */
     flex-wrap: wrap;
     gap: 16px;
}

.title-principal {
    text-align: center;
    font-size: 36px;
    color: #fff;

    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%; */

    flex: 1 0 100%;
}