.app-main {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
}

.main-title {
    color: #fff;
    text-align: center;
    align-self: center;
    margin: 48px 0 24px;
}

@media screen and (min-width: 768px) {
    .app-main {
        grid-template-columns: repeat(4, 1fr);
    }

    .main-title {
        grid-column-start: 1;
        grid-column-end: 5;
    }
}