.menu {
    position: relative;
    z-index: 2;
}

.menu-btn-trigger {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    background-color: transparent;
    border: 0;
}

.menu-content {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-btn-trigger:hover + .menu-content,
.menu-content:hover {
    display: block;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.menu-item-content {
    width: 100px;
}