.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    grid-area: panel;
}

.panel__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel__hero {
    /* background: #fff url() no-repeat cover; */
    background-color: #fff;
    background-image: url("../images/imagem1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    width: 100%;
    height: 150px;
    margin-bottom: -150px;
    transform: scale(1.2);
}

.panel__thumb {
    position: relative;
    display: block;
    margin-bottom: 8px;
}

.panel__content__actions {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.panel__button {
    background-color: #3e98ef;
    border: 1px solid #2171be;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
}

.panel__button:hover {
    background-color: #2171be;
}

.panel__button_secondary {
    background-color: #fff;
    border: 1px solid #d0d7de;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    float: right;
}

.panel__button_secondary:hover {
    background-color: #d0d7de;
}

.panel__title {
    font-size: 24px;
    text-align: center;
}

.panel__address {
    font-weight: bold;
    text-align: center;
}