.app-suggestion {
}

.suggestion {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

@media screen and (min-width: 600px) {
    .suggestion {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 960px) {
    .suggestion {
        grid-template-columns: repeat(4, 1fr);
    }
}