.heading-1 {
    font-size: 48px;
    font-weight: 700;
}

.heading-2 {
    font-size: 36px;
    font-weight: 700;
}

.heading-3 {
    font-size: 32px;
    font-weight: 700;
}

.heading-4 {
    font-size: 24px;
    font-weight: 700;
}

.heading-5 {
    font-size: 18px;
    font-weight: 700;
}

.heading-6 {
    font-size: 16px;
    font-weight: 700;
}

@media screen and (min-width: 600px) {
    .app-title {
        grid-column: span 2;
    }
}