.app-title {
    color: #fff;
    margin-top: 42px;
    margin-bottom: 16px;
}

h2 {
    text-align: center;
    font-size: 48px;
    margin-top: 48px;
    margin-bottom: 24px;
}

@media screen and (min-width: 600px) {
    .app-title {
        grid-column: span 2;
    }
}