.display-name {
    text-align: center;
}

.overline {
    text-align: center;
    font-weight: bold;
}

.heading-1 {
    font-size: 48px;
}

.heading-2 {
    font-size: 28px;
}

.heading-3 {
    font-size: 24px;
}

.heading-4 {
    font-size: 20px;
}
