:root {
    --white: #fff;
    --purple: #9122f3;
    --blue: #3e98ef;
    --blue-dark: #2171be;
    --gray: #d0d7de;
    --gray-dark: #696969;
    --red: #ff0000;
    --red-light: #ff6347;

    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 12px;
    --radius-circle: 50%;
}